
button, 
._button {
  color: $color-white;
  border-color: $color-gray;
  font-size: $font-size;
  background: transparent;

  &:hover {
    color: $color-active;
    border-color: $color-active;
  }
}

a._button {

}