
._logo {
  display: block;
  @extend %glow;
  @extend %font-display;
  font-size: $base-p5;
  position: relative;
  padding-bottom: $base * 2;
  .sh {
    display: block;
    position: relative;
  }
  .mck {
    display: block;
    position: relative;
    left: $base;
    top: $base+6px;
  }

  @include screen-xs {
    padding-left: $base*2;
  }
}

$glass: rgba($color-body-bg, 0.8);

.nav-container {
  // position: relative;   

  @include screen-sm {
    z-index: 100;
    background-color: $glass;
    padding-left: $size-left-padding;
    position: fixed;
    width: 270px; //30vw;
    height: 100vh;

    a {
      display: block;
    }
  }
}
._nav {
  // position: relative;
  margin: 0;
  top: 28vh; 
  opacity: 0;
  @extend %ease;
  counter-reset: nav;
  z-index: 300;
  position: relative;
  display: inline-block;
  padding-top: $base*2;
  @extend %ease-slow;

  @include screen-xs {
    // padding: $base*2;
    width: 100%;
    padding-top: $base*4;
    a { 
      // display: block;
    }
  }

  @include screen-sm {
    padding: $base;

    a {
        display: block;
    }
  }


  .nav-links {
    padding-top: $base;
    
    a {
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-size: 13px;
    }

    a:before  {
      counter-increment: nav;
      content: '0' counter(nav) '.'; 
      padding-right: $base/4;
      // text-align: right;
      display: inline-block;
      width: 30px;
    }

    @include screen-xs {
      padding: $base $base*2;
      position: absolute;
      width: 100%;
      background-color: $glass;
      &.--pinned {
        // padding: $base*2;
        top: 0 !important;
      }
      #nav-tr {
      }
    }
  }

  &.--simple {
    background-color: $color-purewhite;
    &.--pinned {
      box-shadow: none;
      background-color: $color-purewhite;
    }
  }


}
