
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <!-- <title><%= current_page.data.title || "Middleman" %></title> -->

  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script> -->

  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="icon" type="image/png" href="images/ico2.png">
  
  <link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400, 700" rel="stylesheet">

  <link href="./stylesheets/site.css?=v0.1" rel="stylesheet">
  <!-- <script src="./javascripts/jquery.min.js"></script> -->


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>



  <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/1.7.6/showdown.min.js"></script>
  

  <!-- still required for videos -->
  <script type="text/javascript" src="./javascripts/lity.min.js"></script>
  <link href="./stylesheets/lity.min.css" rel="stylesheet">
 

  <!-- this one has gallery http://photoswipe.com/ http://photoswipe.com/documentation/getting-started.html-->
  <script type="text/javascript" src="./javascripts/photoswipe/photoswipe.min.js"></script>
  <link href="./javascripts/photoswipe/photoswipe.css" rel="stylesheet">
  <script type="text/javascript" src="./javascripts/photoswipe/photoswipe-ui-default.min.js"></script>
  <link href="./javascripts/photoswipe/default-skin/default-skin.css" rel="stylesheet">

  <!-- <script type="text/javascript" src="./javascripts/instafeed.js"></script> -->

  <script src="./javascripts/site.js"></script>



