
<div class="nav-container" >
  <div >
    <nav class="_nav">
      <!-- <div class="_grid-one-three _grid-center-h"> should be added only for -xs -->
        <a class="_nav-logo" href="#home">
          <span class="_logo">
            <span class='sh'>Shannon</span>
            <span class='mck'>McKenna</span>
          </span>
        </a>
        <div id="nav-tr">
          <div id="nav" class="nav-links">
            <!-- <a href="#intro" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Home</a> -->
            <a href="#about" data-offset-scroll-v="-100" data-offset-scroll-h="-100">About Me</a>
            <a href="#events" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Events</a>
            <a href="#instruction" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Instruction</a>
            <a href="#performance" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Performance</a>
            <a href="#contact" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Contact &amp; Booking</a>
            <hr class="nav-hr" />
            <a href="#writings" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Writings</a>
            <a href="#photos" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Photos</a>
            <a href="#videos" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Videos</a>
            <!-- <a href="#booking" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Booking</a> -->
            <a href="#affiliates" data-offset-scroll-v="-100" data-offset-scroll-h="-100">affiliates</a>
            <a href="https://www.instagram.com/circusshannon/" target="_blank"><i class="fa fa-instagram"></i> circusshannon</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>