
<div class="nav-container" >
  <div >
    <nav class="_nav">
      <!-- <div class="_grid-one-three _grid-center-h"> should be added only for -xs -->
        <a class="nav-logo" href="#home">
          <span class="_logo">
            <span class='sh'>Shannon</span>
            <span class='mck'>McKenna</span>
          </span>
        </a>
        <div id="nav-tr">
          <div id="nav" class="nav-links">
            <!-- <a href="#intro" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Home</a> -->
            <a href="#about" data-offset-scroll-v="-100" data-offset-scroll-h="-100">About Shannon</a>
            <a href="#photos" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Photos</a>
            <a href="#videos" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Videos</a>
            <a href="#booking" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Booking</a>
            <a href="#contact" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Contact</a>
            <a href="#friends" data-offset-scroll-v="-100" data-offset-scroll-h="-100">Friends</a>
          </div>
      </div>
    </nav>
  </div>
</div>