
<h2 class="--fancy" data-text="About Shannon">About Shannon</h2>

<div class="_grid-three _grid-gap-large">
<p>
Shannon McKenna's performance role was to play the Albertasaurus in an elementary school production about dinosaurs. Standing there in her styrofoam costume, looking out at the audience full of bemused parents and teachers, she knew that by being on stage, she had found her home. She began acting classes at the nationally recognized Alliance Theatre School in her hometown of Atlanta, GA. Her love of performing continued through a competitive performing arts high school where she studied a variety of acting styles as well as modern dance and technical theatre. Shannon went on to earn her BFA in drama at New York University’s prestigious Tisch School of the Arts.
</p>

<p>
While in college, Shannon co-founded and acted in an ensemble based physical theater company Fish &amp; Bicycle. It was with Fish &amp; Bicycle that Shannon began to use aerial fabric in performance. She went on to pursue her new found love at Canopy Studios in Athens, GA where she was introduced to single point trapeze. A year later, she was accepted into a two year program at The New England Center for Circus Arts in Brattleboro, VT.
</p>

<p>
She is available for hire for contortion, walk around, fabric, and rope. She also has experience in trapeze, duo trapeze, German wheel, partner acrobatics, and stilting.
</p>
</div>

<div>
  <div class="bg-img"></div>
</div>