
<h2 class="--fancy" data-text="Events">Events</h2>


<div class="_grid-two">

<div>
  <h5 class="_margin-bottom">Ongoing Events</h5>
  <div id="_events" class="_grid-one _margin-bottom-xs">

    <div class="event">
      <h5 class="event--title ">ssssAerial Choreography, Conditioning, and Straps classes</h5>
      <div class="event--location _padding-bottom"><a href="http://www.aerialsilksatlanta.com/" target="_blank">The Sky Gym</a></div>
      <div class="event--description">Ongoing aerial choreography, conditioning, and straps classes every Thursday night at The Sky Gym. Come join us! <a target="_blank" href="http://www.aerialsilksatlanta.com/calendar">Click here to sign up.</a>
      </div>
    </div>

    <div class="event">
      <h5 class="event--title ">Private and Semi-Private lessons</h5>
      <div class="event--location _padding-bottom"><a href="http://www.thespaceatl.com/" target="_blank">The Space</a></div>
      <div class="event--description">Come book a private or a semi-private lesson with me at the Space. Send me an email to book a lesson:
      </div>
      <div><a target="_blank" href="mailto:shannon@circusshannon.com">shannon@circusshannon.com</a></div>
    </div>

  </div>
</div>


<div>
  <h5 class="_margin-bottom">Aerial Workshops</h5>
  <div id="_workshops" class="_grid-one ">

    <div class="event --sm">
      <h5 class="event--title ">Sora Aerial Arts</h5>
      <div class="event--date ">November 3rd-5th, 2017</div>
      <div class="event--location ">Lexington, KY</div>
      <div class="event--description"><a target="_blank" href="https://www.bellaforzalexington.com">Sign up here</a>.
      </div>
    </div>

    <div class="event --sm">
      <h5 class="event--title ">Suspend Louisville</h5>
      <div class="event--date ">November 3rd-5th, 2017</div>
      <div class="event--location ">Louisville, KY</div>
      <div class="event--description"><a target="_blank" href="http://www.suspendlouisville.com">Sign up here</a>.
      </div>
    </div>

  </div>

</div>


<!-- 
Ongoing:
Aerial Choreography, Conditioning, and Straps classes
Every Thursday night at The Sky Gym
Click here to sign up! <---insert link to :http://www.aerialsilksatlanta.com/calendar/ 
 

Private and Semi-Private Lessons at The Space ATL
Email me to book yours today! <--- link to email address shannon@circusshannon.com
 
Aerial Workshops at:
Akrosphere Circus Arts, Alpharetta, GA- September, 23rd
Join the party, click here. <-----http://www.akrosphere.com/upcoming-workshops/

Aerial Dance PC, Panama City, FL- October 6th-8th
Sign up here. <--------- http://www.aerialdancepanamacity.com

Sora Aerial Arts, Lexington, KY- November 3rd-5th
Enroll here. <----------- https://www.bellaforzalexington.com

Suspend Louisville, Louisville, KY- November 3rd-5th
Come join me, click here. <--------- http://www.suspendlouisville.com

 -->
