
<h2 class="--fancy" data-text="Friends">Friends</h2>

<ul>
<li><a target="_blank" href="http://www.girlsontrapeze.com/">Girls on Trapeze</a> an amazing circus company</li>
<li><a target="_blank" href="http://www.fallonburner.com/">Fallon Burner</a> performer and choreographer</li>
<li><a target="_blank" href="http://www.trevorkafka.com/">Trevor Kafka</a> aerialist and floor acrobat</li>
<li><a target="_blank" href="http://www.thomwall.com/">Thom Wall</a> world class juggler</li>
<li><a target="_blank" href="http://www.dellazucca.com/CDZ/Splash.html">Cole Della Zucca</a> trapeze artist extraordinaire</li>
<li><a target="_blank" href="http://www.kahnartist.net//">Leah Kahn</a> dancer and circus artist</li>
<li><a target="_blank" href="http://www.necenterforcircusarts.org/">The New England Center for Circus Arts</a> my training space</li>
<li><a target="_blank" href="http://www.thespaceatl.com/">The Space</a> my training space</li>
</p>