
<h2 class="--fancy" data-text="Instruction">Instruction</h2>

<div class="_grid-six _grid-gap-large">

<div>
  <h5>Teaching Tour</h5>
  <p>If you are a studio owner, or a passionate aerialist, feel free to reach out! I am always on the road, eager to meet and teach dedicated and curious circus artists of all levels.</p>

  <p>I have a whole mess of fun workshops on straps, silks, and on the ground.</p>
</div>
<div>
  <p>
    Previously, I have:
    <ul>
      <li>Offered workshops at The Southern Fried Circus Festival</li>
      <li>Given weekly classes at The San Francisco Circus Center</li>
      <li>Coached aerials at Circus Smirkus</li>
      <li>Many one-on-one students who show great growth and improvement</li>
    </ul>
  </p>
</div>
<div>
  <div class="_margin-top"><i class="fa fa-file-pdf-o fa-2x _padding-right-half"></i> <a href="./files/teaching_resume.pdf">Teaching resume</a></div>

  <div class="_margin-top _margin-bottom"><i class="fa fa-file-pdf-o fa-2x _padding-right-half"></i> <a href="./files/workshops_2017.pdf">Full list of workshops for 2017</a></div>

  <p>My three most popular workshops are Straps For Aerialists, Drop, Stop, &amp; Roll (Fabric Drop Workshop), and Intro to Spanish Web</p>
​</div>

<div class="_margin-bottom-2 event">
  <h5>Straps For Aerialists</h5>
  This workshop uses aerial straps to address fundamental movements and muscle activation for any aerial apparatus. We will explore concepts for smoother inversions, comfortable one-arm positions, and shoulder stabilization exercises. The goal is to learn to use the straps as a conditioning tool for any aerialists to gain greater mobility and strength.
</div>

<div class="_margin-bottom-2 event">
  <h5>Drop, Stop, &amp; Roll (Fabric Drop Workshop)</h5>
  As aerialists, we seek control over our bodies at every moment we are in the air. When we are climbing and posing, this control is relatively easy to master. However, it gets more complicated when we begin to look at “drops.” In this workshop we will look at several basic drops which cause us to rotate forward or sideways. We will explore how the wrap, the body positioning in the set up, and the body positioning during the drop can change the speed and shape of the skill. This clinic is great for those who are looking to clean up their drops and ensure they are executing these rotations in the safest way.
</div>

<div>
  <div class="_margin-bottom-2 event">
    <h5>Intro to Spanish Web</h5>
    Love to spin? Spanish web is for you! A Spanish web is a rope with a hand loop attached to it. The aerialist hangs by the wrist or the ankle in the loop fluidly changing positions while spinning through the air. We will learn not only the art of being spun, but also the important job of “setting,” or being the person below who generates the spin. Don't miss the opportunity try this traditional circus apparatus!
  </div>
</div>

</div>
