
<h2 class="--fancy" data-text="Contact">Instagram</h2>




<script type="text/javascript">
  var feed = new Instafeed({
      get: 'tagged',
      tagName: 'awesome',
      // clientId: 'd4b17caee4da4a6382311ff13c87fa97'
  });
  feed.run();
</script>