
<h2 class="--fancy" data-text="Performance">Performance</h2>

<p>
Book me to perform at your next event!
</p>
<p>
I have collaborated with big companies and small venues as an aerialist flying high and a character performer in the crowd.
</p>
<p>
To work with me to make your next event something special, <a href="mailto:shannon@circushannon.com">shoot me an email</a> or use the <a href="#contact">contact form</a>.

</p>
Take a more comprehensive view of my past performances:
<div class="_margin-top"><i class="fa fa-file-pdf-o fa-2x _padding-right-half"></i> <a href="./files/performance_resume.pdf"> Performance Resume</a></div>
</p>

