
<h2 class="--fancy" data-text="Performance">Performance</h2>

<div class="_grid-two">
  <div>
    <p>
    Book me to perform at your next event!
    </p>
    <p>
    I have collaborated with big companies and small venues as an aerialist flying high and a character performer in the crowd.
    </p>
    <p>
    To work with me to make your next event something special, <a href="mailto:shannon@circushannon.com">shoot me an email</a> or use the <a href="#contact">contact form</a>.

    </p>
    Take a more comprehensive view of my past performances:
    <div class="_margin-top"><i class="fa fa-file-pdf-o fa-2x _padding-right-half"></i> <a href="./files/performance_resume.pdf"> Performance Resume</a></div>
    </p>
  </div>
  <div>
    I have performed:
    <ul>
      <li>In traditional circuses across the US as part of The Espanas</li>
      <li>At the Wintergarten, Berlin in a one night caberet</li>
      <li>As a duo and solo artists in Portugal for a two month holiday contract</li>
      <li>With the troupe Girls On Trapeze in an original creation</li>
      <li>For various events with companies including Dos Equis, Poo-pourri, and The USAA</li>
    </ul>
  </div>
</div>

