
<h2 class="--fancy" data-text="Photos">Photos</h2>


<!-- outdoor photo gallery / 1 -->
<div id="photos-1">
  <a rel="lightbox" href="/images/gallery/1/sm/shocphoto_shannon mckenna_39747_.jpg" data-lity>
    <img src="/images/gallery/1/tmb/shocphoto_shannon mckenna_39747_.jpg" alt="" title="" />
  </a>

  <a rel="lightbox" href="/images/gallery/1/sm/shocphoto_shannon mckenna_39780_.jpg" data-lity>
    <img src="/images/gallery/1/tmb/shocphoto_shannon mckenna_39780_.jpg" alt="" title="" />
  </a>

  <a rel="lightbox" href="/images/gallery/1/sm/shocphoto_shannon mckenna_39827_.jpg" data-lity>
    <img src="/images/gallery/1/tmb/shocphoto_shannon mckenna_39827_.jpg" alt="" title="" />
  </a>

  <a rel="lightbox" href="/images/gallery/1/sm/shocphoto_shannon mckenna_39844_.jpg" data-lity>
    <img src="/images/gallery/1/tmb/shocphoto_shannon mckenna_39844_.jpg" alt="" title="" />
  </a>
  
  <a rel="lightbox" href="/images/gallery/1/sm/shocphoto_shannon mckenna_40050_.jpg" data-lity>
    <img src="/images/gallery/1/tmb/shocphoto_shannon mckenna_40050_.jpg" alt="" title="" />
  </a>

</div>

