
<h2 class="--fancy" data-text="Photos">Photos</h2>


<div id="photos-1" class="gallery _margin-bottom-2" itemscope itemtype="http://schema.org/ImageGallery">

  <div class="_clear-both">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39747_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39747_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39780_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39780_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39827_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39827_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39844_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39844_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_40050_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_40050_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>
  </div>

  <div class="_font-small _font-italic _clear-both">Photo Credit: Acme Photography</div>

</div>


<div id="photos-2" class="gallery _margin-bottom-2" itemscope itemtype="http://schema.org/ImageGallery">

  <div class="_clear-both">
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39747_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39747_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39780_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39780_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39827_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39827_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_39844_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_39844_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="./images/gallery/1/sm/shocphoto_shannon mckenna_40050_.jpg" itemprop="contentUrl" data-size="2456x3680">
          <img src="./images/gallery/1/tmb/shocphoto_shannon mckenna_40050_.jpg" itemprop="thumbnail" alt="Image description" />
      </a>
    </figure>
  </div>

  <div class="_font-small _font-italic _clear-both">Photo Credit: Acme Photography</div>

</div>

