
<h2 class="--fancy" data-text="Photos">Photos</h2>

<div class="clearfix">

  <!-- <div class="_clear-both"> -->

    <div id="photos-1" class="gallery _margin-bottom-2" itemscope itemtype="http://schema.org/ImageGallery">


      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
        <a href="./images/gallery/1/full/FullEdit-Shannon-63-Edit.jpg" itemprop="contentUrl" data-size="1200x800" d>
          <img src="./images/gallery/1/tmb/FullEdit-Shannon-63-Edit.jpg" itemprop="thumbnail"  />
        </a>
        <figcaption itemprop="caption description">Photo: Danny Owens</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/1/full/FullEdit-Shannon-91-Edit.jpg" itemprop="contentUrl" data-size="1200x800">
          <img src="./images/gallery/1/tmb/FullEdit-Shannon-91-Edit.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Danny Owens</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/1/full/FullEdit-Shannon-147-Edit.jpg" itemprop="contentUrl" data-size="798x1200">
          <img src="./images/gallery/1/tmb/FullEdit-Shannon-147-Edit.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Danny Owens</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/1/full/FullEdit-Shannon-168-Edit.jpg" itemprop="contentUrl" data-size="1200x800">
          <img src="./images/gallery/1/tmb/FullEdit-Shannon-168-Edit.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Danny Owens</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/1/full/FullEdit-Shannon-212-Edit.jpg" itemprop="contentUrl" data-size="798x1200">
          <img src="./images/gallery/1/tmb/FullEdit-Shannon-212-Edit.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Danny Owens</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/1/full/FullEdit-Shannon-243-Edit.jpg" itemprop="contentUrl" data-size="798x1200">
          <img src="./images/gallery/1/tmb/FullEdit-Shannon-243-Edit.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Danny Owens</figcaption>
      </figure>

      <!-- 2 -->

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/2/full/WEB0406BW.jpg" itemprop="contentUrl" data-size="868x1200">
          <img src="./images/gallery/2/tmb/WEB0406BW.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Cheryl Willard</figcaption>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/2/full/WEB0475.jpg" itemprop="contentUrl" data-size="845x1200">
          <img src="./images/gallery/2/tmb/WEB0475.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Cheryl Willard</figcaption>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/2/full/WEB0493logo.jpg" itemprop="contentUrl" data-size="876x1200">
          <img src="./images/gallery/2/tmb/WEB0493logo.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Cheryl Willard</figcaption>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/2/full/WEB0560.jpg" itemprop="contentUrl" data-size="1200x987">
          <img src="./images/gallery/2/tmb/WEB0560.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Cheryl Willard</figcaption>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/2/full/WEB0585.jpg" itemprop="contentUrl" data-size="867x1200">
          <img src="./images/gallery/2/tmb/WEB0585.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Cheryl Willard</figcaption>
      </figure>

      <!-- 3 -->

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/3/full/shocphoto_shannon mckenna_39761_.jpg" itemprop="contentUrl" data-size="868x1200">
          <img src="./images/gallery/3/tmb/shocphoto_shannon mckenna_39761_.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Shoccara Marcus</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/3/full/shocphoto_shannon mckenna_39780_.jpg" itemprop="contentUrl" data-size="868x1200">
          <img src="./images/gallery/3/tmb/shocphoto_shannon mckenna_39780_.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Shoccara Marcus</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/3/full/shocphoto_shannon mckenna_39827_.jpg" itemprop="contentUrl" data-size="868x1200">
          <img src="./images/gallery/3/tmb/shocphoto_shannon mckenna_39827_.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Shoccara Marcus</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/3/full/shocphoto_shannon mckenna_40017_.jpg" itemprop="contentUrl" data-size="868x1200">
          <img src="./images/gallery/3/tmb/shocphoto_shannon mckenna_40017_.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Shoccara Marcus</figcaption>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/3/full/shocphoto_shannon mckenna_40086_.jpg" itemprop="contentUrl" data-size="868x1200">
          <img src="./images/gallery/3/tmb/shocphoto_shannon mckenna_40086_.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Shoccara Marcus</figcaption>
      </figure>

      <!-- 4 -->

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/4/full/JOP0367.jpg" itemprop="contentUrl" data-size="800x1200">
          <img src="./images/gallery/4/tmb/JOP0367.jpg" itemprop="thumbnail" />
        </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/4/full/JOP0809.jpg" itemprop="contentUrl" data-size="1200x800">
          <img src="./images/gallery/4/tmb/JOP0809.jpg" itemprop="thumbnail" />
        </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/4/full/21_CircoColiseu_1.jpg" itemprop="contentUrl" data-size="1200x800">
          <img src="./images/gallery/4/tmb/21_CircoColiseu_1.jpg" itemprop="thumbnail" />
        </a>
      </figure>

      <!-- 5 -->

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/5/full/IMG_4893.jpg" itemprop="contentUrl" data-size="1200x800">
          <img src="./images/gallery/5/tmb/IMG_4893.jpg" itemprop="thumbnail" />
        </a>
        <figcaption itemprop="caption description">Photo: Amira Silverman</figcaption>
      </figure>

      <!-- 6 -->

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/6/full/10577596_10152572293476714_192697208_o.jpg" itemprop="contentUrl" data-size="896x1200">
          <img src="./images/gallery/6/tmb/10577596_10152572293476714_192697208_o.jpg" itemprop="thumbnail" />
        </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/6/full/10960537_10152572293536714_1218602828_o.jpg" itemprop="contentUrl" data-size="915x1200">
          <img src="./images/gallery/6/tmb/10960537_10152572293536714_1218602828_o.jpg" itemprop="thumbnail" />
        </a>
      </figure>

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/6/full/Duo Straps 1.jpg" itemprop="contentUrl" data-size="1200x905">
          <img src="./images/gallery/6/tmb/Duo Straps 1.jpg" itemprop="thumbnail" />
        </a>
      </figure>

      <!-- 7 -->

      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/7/full/Shannon Circus 7.jpg" itemprop="contentUrl" data-size="800x1200">
          <img src="./images/gallery/7/tmb/Shannon Circus 7.jpg" itemprop="thumbnail" />
        </a>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/7/full/Shannon Circus 133.jpg" itemprop="contentUrl" data-size="800x1200">
          <img src="./images/gallery/7/tmb/Shannon Circus 133.jpg" itemprop="thumbnail" />
        </a>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/7/full/Shannon Circus 145.jpg" itemprop="contentUrl" data-size="1200x1200">
          <img src="./images/gallery/7/tmb/Shannon Circus 145.jpg" itemprop="thumbnail" />
        </a>
      </figure>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="./images/gallery/7/full/Shannon Circus 151.jpg" itemprop="contentUrl" data-size="800x1200">
          <img src="./images/gallery/7/tmb/Shannon Circus 151.jpg" itemprop="thumbnail" />
        </a>
      </figure>


    </div>

  <!-- </div> -->

</div>
