
<h2 class="--fancy" data-text="Videos">Videos</h2>

<div class="_small _margin-bottom-2">
  <span class="_margin-right"><i class="fa fa-vimeo"></i> <a target="_blank" href="https://vimeo.com/circusshannon">Vimeo</a>
  </span>
  <span><i class="fa fa-youtube"></i> <a target="_blank" href="https://www.youtube.com/user/shnnnmcknn">Youtube</a>
  </span>
</div>

<div class="_grid-three">

<div class="video">
  <h5>Aerial Straps</h5>
  <figure class="video">
    <a rel="lightbox" href="https://vimeo.com/194780626" data-lity>
      <img src="https://i.vimeocdn.com/video/606829637_445x200.jpg" alt="" title="" />
    </a>
  </figure>
</div>

<div class="video">
  <h5>Aerial Tissu</h5>
  <figure class="video">
    <a rel="lightbox" href="https://vimeo.com/162310624" data-lity>
      <img src="https://i.vimeocdn.com/video/564736789_445x200.jpg" alt="" title="" />
    </a>
  </figure>
</div>

<div class="video">
  <h5>Duo Loops</h5>
  <figure class="video">
    <a rel="lightbox" href="https://vimeo.com/151462112" data-lity>
      <img src="https://i.vimeocdn.com/video/551259624_445x200.jpg" alt="" title="" />
    </a>
  </figure>
</div>
</div>



