
<h2 class="--fancy" data-text="Videos">Videos</h2>

<div class="_grid-two">

<div class="video">
  <h3>The Optimist</h3>
  <figure class="video">
    <a rel="lightbox" href="http://vimeo.com/48264918" data-lity>
      <img src="https://i.vimeocdn.com/video/335034018_445x200.jpg" alt="" title="" />
    </a>
  </figure>
  <p>2012 Graduation Act from The New England Center for Circus Arts professional training program.</p>
</div>

<div class="video">
  <h3>Rope!</h3>
  <figure class="video">
    <a rel="lightbox" href="http://vimeo.com/48265669" data-lity>
      <img src="https://i.vimeocdn.com/video/335066418_445x200.jpg" alt="" title="" />
    </a>
  </figure>
  <p>2012 Graduation Show at The New England Center for Circus Arts.</p>
</div>

</div>



